SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", ATTRS{product}=="USB2.0-Serial", SYMLINK+="tty_VHFROT", GROUP="dialout"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", ATTRS{product}=="USB2.0-Ser!", SYMLINK+="tty_HFROT", GROUP="dialout"
